/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.main-body {
  padding-top: 20px;
  max-width: 1200px;
  margin: 30px auto;
}
/* ----- WIDTHS ----- */
.full-width {
  width: 100%;
}
/* ----- INPUTS ----- */
.first-row-input {
  padding-top: 10px;
}
/* ----- TYPOGRAPHY ----- */
h1,
h2,
h3,
h4 {
  font-weight: 600 !important;
  margin-bottom: 5px !important;
}
p {
  font-size: 13px;
  line-height: initial;
}
/* ----- FLEX ----- */
.row {
  display: flex;
  gap: 10px;
}
.row.gap-0 {
  gap: 0px;
}
.row.gap-sm {
  gap: 5px;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
